@model Models.Customer

@{
    ViewBag.Title = "Mijn profiel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mijn Profiel</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class=d>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surName)
        </dd>
        @if (Model.admin == true)
        {
            <dt>
                @Html.DisplayNameFor(model => model.admin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.admin)
            </dd>
        }        
    </dl>
</div>
<p>
    <a href="/Home/EditCustomer" class="btn btn-primary">
        <i class="fa fa-edit fa-5x" style="margin-right: 5px;"></i>
    </a>  | 
    <a href="/Home/Index" class="btn btn-primary">
        <i class="fa fa-home fa-5x" style="margin-right: 5px;"></i>
    </a>
</p>
