@model Models.Customer

@{
    ViewBag.Title = "Home Pagina";
}
<br/><br />
<h2> Welkom @Model.name @Model.surName</h2>
<br /><br />
@Html.ActionLink("Mijn profiel", "CustomerDetails", "Home", new { id = Model.ID }, new { @class = "btn btn-primary" })
<br /><br />
@Html.ActionLink("Nieuwe bestelling", "Index", "Order", null, new { @class = "btn btn-primary" })
<br /><br />
@Html.ActionLink("Al mijn bestellingen", "OrderListByCustomer", "Order", null, new { @class = "btn btn-primary" })
<br /><br />