@model Models.Customer

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyProfile</h2>

<div>
    <h4>@Model.name @Model.surName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surName)
        </dd>
        @if (Model.admin == true)
        {
            <dt>
                @Html.DisplayNameFor(model => model.admin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.admin)
            </dd>
        }        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
